<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Game Search</title>
</head>
<body>
    <h1>Video Game Search</h1>
    <form method="GET" action="/search">
        <div class="input-group">

                <label for="search">Search Name: </label>

                <input type="text" name="name" id="name" 
                    class="form-control" required
                    placeholder="Enter a Video Game"
                    th:field="*{name}">

            <br/>
            <br>
                <label for="results">Number of Results:</label>

                <select name="number" id="number" th:field="*{number}">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            <p>
                <button type="submit">Search</button>
            </p>
        </div>
    </form>
</body>
</html>